body{
    background: rgb(47, 16, 225);
    color: white;
    font-size: 3em;
}
header{
    display: flex;
    background-color: black;
}
ul{
    display: flex;
    list-style-type: none;
    text-decoration: none;
    justify-content: space-around;
}
li{
    margin: 15px;
}

footer{
    display: flex;
    background-color: black;
}